.container{
    height: 100vh;
    max-width: 992px;
    margin:0 auto ;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}
.container section {
   flex: 1;
   
   display: grid;
   grid-template-columns: 1fr 1fr ; /*Duas colunas com o mesmo tamanho*/ 
   gap: 6.25rem; /*6,25x16 = 100px no desktop que diminui conforme esteja numa tela menor */ 
   align-content: center;
    
}